body{
    background:#000000;
font-family: 'Raleway', sans-serif;
}

.ping-btns {
  position: relative;
overflow: hidden;
transition: background 400ms;
color: #fff;
background-color: #04AA6D;
padding: 1rem 2rem;
font-family: 'Roboto', sans-serif;
font-size: 1.5rem;
outline: 0;
border: 0;
font-family: Arial, Helvetica, sans-serif;

box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
cursor: pointer;
width: 10 px;
height: 10 px;

}
.bouton-red
{
   text-align: center;
   width: 5px;
   height: 5px;
}

.ping-btn {
    position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #34495E;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.main-section{
width:100%;
margin:0 auto;
text-align: center;
padding: 0px 5px;
}
.dashbord{
width:32%;
display: inline-block;
background-color:#34495E;
color:#fff;
margin-top: 50px; 
}
.icon-section i{
font-size: 30px;
padding:10px;
border:1px solid #fff;
border-radius:50%;
margin-top:-25px;
margin-bottom: 10px;
background-color:#34495E;
}
.icon-section p{
margin:0px;
font-size: 20px;
padding-bottom: 10px;
}
.detail-section{
background-color: #2F4254;
padding: 5px 0px;
}
.dashbord .detail-section:hover{
background-color: #5a5a5a;
cursor: pointer;
}
.detail-section a{
color:#fff;
text-decoration: none;
}
.dashbord-green .icon-section,.dashbord-green .icon-section i{
background-color: #34495E;
}
.dashbord-green .detail-section{
background-color: #34495E;
}
.dashbord-orange .icon-section,.dashbord-orange .icon-section i{
background-color: #34495E;
}
.dashbord-orange .detail-section{
background-color: #34495E;
}
.dashbord-blue .icon-section,.dashbord-blue .icon-section i{
background-color: #34495E;
}
.dashbord-blue .detail-section{
background-color:#34495E;
}
.dashbord-red .icon-section,.dashbord-red .icon-section i{
background-color:#E74C3C;
}
.dashbord-red .detail-section{
background-color:#CF4436;
}
.dashbord-skyblue .icon-section,.dashbord-skyblue .icon-section i{
background-color:#8E44AD;
}
.dashbord-skyblue .detail-section{
background-color:#803D9B;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 400px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
